<nav class="navbar alert alert-primary navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">JWT-auth-app</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/admin"
          *ngIf="showingLinks(['Admin'])"
          >Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/user"
          *ngIf="showingLinks(['User'])">User</a>
        </li>
      </ul>
      <button *ngIf="hidenButton == false" class="btn btn-success" routerLink="/login">Login</button>
      <button *ngIf="hidenButton" class="btn btn-danger" (click)="logOut()">Logout</button>
    </div>
  </div>
</nav>
